@page
@model IndexModel
@{
    ViewData["Title"] = "About me";
}

<section id = "about_me">
    <h1> Some information about me </h1>
        <p>
            Hello, my name is Olivia, and I'm a friendly and curious person who loves to learn new things and engage in meaningful conversations. I'm a lifelong learner, and I'm always looking for ways to expand my knowledge and skills.
            In my free time, I enjoy reading books, watching movies, and exploring the great outdoors. I'm also a big fan of music, and I love discovering new artists and genres.
            As a person, I value honesty, kindness, and empathy. I believe that everyone deserves to be treated with respect and dignity, regardless of their background or beliefs. I'm passionate about making a positive impact on the world and helping others in any way that I can.
            Overall, I'm just a regular person who enjoys the simple things in life and strives to be the best version of myself every day.
        </p>
</section>
