HomeWork1/.vs/
HomeWork1/HW1/bin/
HomeWork1/HW1/obj/
HomeWork2/.vs/
HomeWork2/bin/
HomeWork2/obj/
HomeWork2/Properties/
HomeWork3/.vs/
HomeWork3/bin/
HomeWork3/obj/
HomeWork4/.vs/
HomeWork4/bin/
HomeWork4/obj/
