@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
		<h1 align = "center";>How Does It Work</h1>
		<div>
			<p align = "center"; style = "position: relative; top: 110px">Print here some text information</p>
		</div>
		<table align = "center">
			<tr>
				<td align = "center"><img src = "pic1.png" width="40%" height ="40%"></img>
					<div><p style = "color:gray; padding-left: 20px; padding-right: 20px">Print here some text information Print here some text information
												 Print here some text information Print here some text information
						 </p>
					</div>
				</td>
				<td align = "center"><img src = "pic1.png" width="40%" height ="40%"></img>
					<div><p style = "color:gray; padding-left: 20px; padding-right: 20px">Print here some text information Print here some text information
												 Print here some text information Print here some text information
						 </p>
					</div>
				</td>
				<td align = "center"><img src = "pic1.png" width="40%" height ="40%"></img>
					<div><p style = "color:gray; padding-left: 20px; padding-right: 20px">Print here some text information Print here some text information
												 Print here some text information Print here some text information
						 </p>
					</div>
				</td>
			</tr>
		</table>
		<button type="button">LEARN MORE</button>
</body>

